.parent-container {
    width: 100vw;
    height: 100vh;
}

.child-container {
    height: 100vh;
    overflow-y: auto;
}

.child-container p {
    background-color: white;
}

.interscroller-container {
    position: fixed;
    top: 0;
    z-index: -20;
    height: 2000px;
}

.interscroller-container .interscroller-ad {
    width: 390px;
    height: 100vh;
}

.sliding-window {
    width: 100vw;
    height: 150vh;
}

/* .swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    display: flex;
    justify-content: center;
    align-items: center;
} */